body {
    font-family: Arial, sans-serif;
    background-color: #410445;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid rgb(136, 48, 120);
}

h1,
h2 {
    margin: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
   
}
