/* ANCHOR - Estilos gerais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #410445;
  color: #fff;
  margin: 3%;
  padding: 0;
}

/* SECTION - Barra de navegação */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #410445;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand img {
  height: 30px;
}

.project-name {
  font-size: 1.4rem;
  color: #f0f0f0;
  font-weight: bold;
}

/* ANCHOR - Links na barra de navegação */

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  background-color: #883078;
  color: white;
  text-decoration: none;
  padding: 5px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links a:hover {
  background-color: #33334d;
  border-color: #1a5b7e;
}
/* !SECTION */

/* ANCHOR - Layout do <main> */

.content {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* SECTION - Mapa */

.map-container {
  /* background-color: #1a1a1a; */
  width: 100%;
  height: 500px; /* Se a pessoa virar o celular na horizontal, a altura sera menor que 500 */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative; /* permite o botão de filtragem ficar sobre o mapa */
}

#map {
  width: 100%;
  height: 100%;
}

/* ANCHOR - Pop-up card no mapa */

.mapboxgl-popup-content {
  background-color: #1e1e1e;
  color: #fff;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  max-width: 250px;
}

.popup-card h3 {
  margin: 0 0 6px;
  font-size: 16px;
  color: #ffcc00;
}

.popup-card p {
  margin: 4px 0;
  font-size: 14px;
  line-height: 1.4;
}

/* !SECTION */

/* SECTION - Filtragem */

.filter-button-wrapper {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  z-index: 10; /* Garante que o botão fique acima do mapa */
}

/* ANCHOR - Botão de filtragem */

#filter-button {
  /* background: black; */
  border-radius: 8px;
  border: none;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

#filter-button img {
  width: 24px;
  height: 24px;
}

#filter-message {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  animation: fadeOut 1s ease-out 6s forwards;
}

/* Animação de Fade out da mensagem sobre filtragem */
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* ANCHOR - Popup de filtragem */

/* Popup inicialmente ocultado */
.filter-popup.hidden {
  display: none;
}

.filter-popup {
  position: absolute;
  inset: 0;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1001; /* Garantir que fique acima do mapa */
}

.popup-content {
  background-color: #2f6e51;
  color: #f0f0f0;
  padding: 0.5rem 2rem;
  border-radius: 12px;
  width: 95%;
  max-width: 400px;
  max-height: 95%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* position: relative; */
}

.popup-content label {
  font-weight: bold;
  margin-top: 4px;
}

.popup-content input,
.popup-content select {
  padding: 0.4rem;
  border-radius: 8px;
  border: none;
  width: 100%;
}

.popup-content input[type="date"] {
  background-color: #fff;
  color: #333;
}

.popup-content input[type="number"],
.popup-content select {
  background-color: #fff;
  color: #333;
}

/* Slider (input range) */
.popup-content input[type="range"] {
  width: 100%;
  accent-color: #6a1b9a; /* roxo */
  padding: 0;
}

#distance-value {
  font-size: 0.9rem;
  text-align: right;
  color: #fff;
}

#apply-filter {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  background-color: #9378cd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#apply-filter:hover {
  background-color: #33334d;
}

/* !SECTION */

/* ANCHOR - footer */
footer {
  text-align: center;
  background-color: #883078;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
}
