
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2c0237;
    color: #f9f9f9;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}


.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.filtro-criar-container {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.filtro-label-select {
  display: flex;
  flex-direction: column;
}

.filtro-container label {
  font-size: 14px;
  margin-bottom: 5px;
  color: white;
}

select {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: white;
  color: #3b0a66;
  cursor: pointer;
}


.criar-btn {
  padding: 10px 20px;
  background-color: #b86fb9;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#eventos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 260px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  margin: 0 0 10px;
}

.card p {
  margin: 5px 0;
  font-size: 14px;
}

.card button {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
} 

.card a {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.detalhes-btn {
  background-color: #7c0fd2;
  color: white;
  margin-bottom: 5px;
}

.favorito-btn {
  background-color: transparent;
  color: red;
}
